#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

.card {
  padding: 0.5em;
  width: 200px;
}

.read-the-docs {
  color: #888;
}

.nav-stuff {
  background-color: grey;
}

/* .hidden-faction {
  display: none;
} */

.card-font {
  font-size: 10px;
}

.unit-cards {
  display: flex;
}