body {
  padding-top: 40px;
}

footer {
  position: fixed;
  bottom: 0px;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
}

.card {
  padding: 0.5em;
  width: 200px;
}

.read-the-docs {
  color: #888;
}

.card-font {
  font-size: 10px;
}

.unit-cards {
  display: flex;
}

.info-table {
font-size: 12px;
}

.go-to-army {
  flex: 1;
  display: flex;
  position: fixed;
  bottom: 40px;
  justify-content: center;
  align-items: flex-end;
}

